@font-face {
	font-family: 'GreycliffCF-Regular';
	src: font-url('./fonts/GreycliffCF-Regular.eot'); /* IE9 Compat Modes */
	src: font-url('./fonts/GreycliffCF-Regular.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */ font-url('./fonts/GreycliffCF-Regular.woff2') format('woff2'),
		/* Super Modern Browsers */ font-url('./fonts/GreycliffCF-Regular.woff') format('woff'); /* Pretty Modern Browsers */
}

@font-face {
	font-family: 'GreycliffCF-Bold';
	src: font-url('./fonts/GreycliffCF-Bold.eot'); /* IE9 Compat Modes */
	src: font-url('./fonts/GreycliffCF-Bold.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */ font-url('./fonts/GreycliffCF-Bold.woff2') format('woff2'),
		/* Super Modern Browsers */ font-url('./fonts/GreycliffCF-Bold.woff') format('woff'); /* Pretty Modern Browsers */
}

@font-face {
	font-family: 'GreycliffCF-Light';
	src: font-url('./fonts/GreycliffCF-Light.eot'); /* IE9 Compat Modes */
	src: font-url('./fonts/GreycliffCF-Light.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */ font-url('./fonts/GreycliffCF-Light.woff2') format('woff2'),
		/* Super Modern Browsers */ font-url('./fonts/GreycliffCF-Light.woff') format('woff'); /* Pretty Modern Browsers */
}

@font-face {
	font-family: 'GreycliffCF-Medium';
	src: font-url('./fonts/GreycliffCF-Medium.eot'); /* IE9 Compat Modes */
	src: font-url('./fonts/GreycliffCF-Medium.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */ font-url('./fonts/GreycliffCF-Medium.woff2') format('woff2'),
		/* Super Modern Browsers */ font-url('./fonts/GreycliffCF-Medium.woff') format('woff'); /* Pretty Modern Browsers */
}

@font-face {
	font-family: 'sf';
	src: font-url('./fonts/made_sunflower-webfont.woff2') format('woff2'),
		font-url('./fonts/made_sunflower-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
